<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.Dao.Test2Dao">
    <resultMap id="Test2" type="com.spring.Entity.Note2Entity">
        <id property="id" column="id"/>
        <result property="note2" column="note2"/>
        <result property="date" column="date"/>
    </resultMap>

    <select id="find2" resultMap="Test2" parameterType="int">
        SELECT * from test WHERE id = #{id};
    </select>

</mapper>