<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.Dao.TestDao">
    <resultMap id="Test" type="com.spring.Entity.NoteEntity">
        <id column="id" property="id"/>
        <result column="note" property="note"/>
        <!--级联查询，返回List-->
        <collection property="entities" select="com.spring.Dao.Test2Dao.find2" column="id"/>
    </resultMap>

    <select id="find" resultMap="Test" parameterType="int">
        SELECT * FROM test2 WHERE id = #{id};
    </select>

    <insert id="add" parameterType="note">
        INSERT INTO test2
        <choose>
            <when test="note == null or note == ''">
                VALUES (#{id}, "default");
            </when>
            <otherwise>
                VALUES (#{id}, #{note});
            </otherwise>
        </choose>
    </insert>

</mapper>